.photos-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.image {
    flex: 0 0 200px;
    margin: 20px 90px;
    border: 1px solid #c9c4c4;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
        transform: scale(1.1);
    }

    &:active {
        opacity: 0.5;
    }
}
